*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

[class^='col-'] {
  float: left;
  padding: 0; 
  /*background-color: yellow;*/
}
.col-1 {
  width: 8.33%;
}

.col-2{
  width:16.67%;
}

.col-3{
  width:25%;
}

.col-4{
  width:33.33%;
}

.col-5{
  width:41.67%;
}

.col-6{
  width:50%;
}
.col-7{
  width:58.33%;
}
.col-8{
  width:66.67%;
}
.col-9{
  width:75%;
}
.col-10{
  width:83.33%;
}
.col-11{
  width:91.67%;
}
.col-12{
  width:100%;
}

[class^='col-'] {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  /*background-color: red;*/
}


[class^='col-']:last-of-type {
  padding-right: 0;
}

<<<<<<< 4111c4e9e83220df76c65a98722b855f9735c6f3
@media (max-width: 40rem) {
  .col-6{
  width:100%;
  }
  .jumbotron{
    background-position:65% 0%;
  }
  .col-4 {
  	width:100%;
  }
  .col-8 {
  	width:100%;
  }
  .col-6 {
  	width:100%;
  }
  [class^='col-'] {
    padding-right:0;
    /*background-color: red;*/
  }
}

@media (max-width: 60rem) {
  .col-3{
  width:50%;
  }
}

@media (max-width: 30rem) {
  .col-3{
  width:100%;
  }
}



@media (max-width: 30rem) {
    .login{
    width:100%;
    }
    .textbox{
      width:100%;
    }    
}
.productlist [class^='col-'] {
  padding: 0rem;
  margin: 0rem;
  /*height:auto;*/
  /*background-color: red;*/
}

.productlist{
  padding: 0 0 2rem 0;
  margin: 0;
}

@media (max-width: 60rem) {
  .menu-firstrow{
    display: none;
  }
/*  .hamburger{
    display:block;
  }*/
  header .second-nav{
    display:block;
    z-index: 999;
  }

  .jumbotron-title{
      
      left:45%;
    }    

}
@media (max-width: 50rem) {
   .jumbotron-title{
      left:40%;
    }    
}
@media (max-width: 40rem) {
    .jumbotron-title{
      left:35%;
    } 
}
@media (max-width: 30rem) {
  .jumbotron-title{
      left:20%;
      top:26.5%;
    } 
  .jumbotron-title h3{
      font-size: 1.5rem;
  }
}
@media (max-width: 100rem) {
  .jumbotron{
    background-position: 65% -5%;
  }
}

/*.product1{
  background-image: url(../img/product1.jpg);
  min-height:700px;
  background-size:contain;
  background-repeat:no-repeat;
}

.product2{
  background-image: url(../img/product2.jpg);
  min-height:700px;
  background-size:contain;
  background-repeat:no-repeat;
}*/

=======
>>>>>>> 4990b34cd64db4a299abdc0d7118e48201ea571e
.grid:after {
  content: "";
  display: table;
  clear: both;
}



/*flexbox for productlist*/
/*test*/
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
  width: auto;
  max-width: 100%;
}

.product1 {
  -webkit-flex-basis: 200px;
  -ms-flex-basis: 200px;
  flex-basis: 200px;
  flex-grow:1;
  /*background-color:red;*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  margin-right: 0.5rem;
}
.product1 img{
  width:auto;
  height:auto;
  max-width: 100%;
}

.product2{
  flex-grow:2;
  /*background-color:red;*/
  -webkit-flex-basis: 400px;
  -ms-flex-basis: 400px;
  flex-basis: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.product2 img{
  width:auto;
  height:auto;
  max-width:100%;
}

.product3{
  flex-grow:1;
  /*background-color:red;*/
  -webkit-flex-basis: 300px;
  -ms-flex-basis: 300px;
  flex-basis: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}
.product3 img{
  width:auto;
  height:auto;
  max-width:100%;
}

.product4{
  flex-grow:1;
  /*background-color:red;*/
  -webkit-flex-basis: 300px;
  -ms-flex-basis: 300px;
  flex-basis: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.product4 img{
  width:auto;
  height:auto;
  max-width:100%;
}

.product5{
  flex-grow:1;
  /*background-color:red;*/
  -webkit-flex-basis: 250px;
  -ms-flex-basis: 250px;
  flex-basis: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}
.product5 img{
  width:auto;
  height:auto;
  max-width:100%;
}

.product6{
  flex-grow:1;
  /*background-color:red;*/
  -webkit-flex-basis: 250px;
  -ms-flex-basis: 250px;
  flex-basis: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}
.product6 img{
  width:auto;
  height:auto;
  max-width:100%;
}

.product7{
  flex-grow:1;
  /*background-color:red;*/
  -webkit-flex-basis: 250px;
  -ms-flex-basis: 250px;
  flex-basis: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.product7 img{
  width:auto;
  height:auto;
  max-width:100%;
}

@media (max-width: 40rem) {
  .col-6{
  width:100%;
  }
  .jumbotron{
    background-position:65% 0%;
  }
  .col-4 {
    width:100%;
  }
  .col-8 {
    width:100%;
  }
  .col-6 {
    width:100%;
  }
  [class^='col-'] {
    padding-right:0;
  }
  [class^='product']{
    margin-right:0;
  }

}

@media (max-width: 30rem) {
    .login{
    width:100%;
    }
    .textbox{
      width:100%;
    }
}

@media (max-width: 40rem) {
  .col-6{
  width:100%;
  }
  .jumbotron{
    background-position:65% 0%;
  }
  .col-4 {
    width:100%;
  }
  .col-8 {
    width:100%;
  }
  .col-6 {
    width:100%;
  }
  [class^='col-'] {
    padding-right:0;
  }
}

.productlist{
  padding: 0 0 2rem 0;
  margin: 0;
}

@media (max-width: 60rem) {
  .menu-firstrow{
    display: none;
  }
/*  .hamburger{
    display:block;
  }*/
  header .second-nav{
    display:block;
    z-index: 999;
  }

  .jumbotron-title{
      
      left:45%;
    }    

}
@media (max-width: 50rem) {
   .jumbotron-title{
      left:40%;
    }    
}
@media (max-width: 40rem) {
    .jumbotron-title{
      left:35%;
    } 
}
@media (max-width: 30rem) {
  .jumbotron-title{
      left:20%;
      top:26.5%;
    } 
  .jumbotron-title h3{
      font-size: 1.5rem;
  }
}
@media (max-width: 100rem) {
  .jumbotron{
    background-position: 65% -5%;
  }
}
